* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: #111111;
    color: aliceblue;
}

.apresentacao {
    display: flex;
    justify-content: center;
    align-items: center;
}

.destaqueTitulo {
    color: #2dfd;
}

