@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --main-bg-color: #111111;
    --cor-principal: #22D4FD;
    --cor-texto: aliceblue;
    --font-titulo: "Krona One", sans-serif;
    --font-paragrafo: "Montserrat", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
body {
    /*height: 100vh;*/
    background-color: var(--main-bg-color);
    color: var(--cor-texto);
}

.cabecalho {
    padding: 2% 0% 0% 15%;
}

.menu {
    display: flex;
    gap: 80px;
}

.menu__link {
    color: var(--cor-principal);
    text-decoration: none;
    font-family: var(--font-paragrafo);
    font-size: 20px;
    font-weight: 600;    
}


.apresentacao {
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
            
}

.destaqueTitulo {
    color: var(--cor-principal);
}

.apresentacao__conteudo {
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao__conteudo__titulo {
    font-size: 36px;
    font-family: var(--font-titulo);
    font-weight: 400;
    text-align: left;
}

.apresentacao__conteudo__paragrafo {
    font-size: 24px;
    font-family: var(--font-paragrafo);
    text-align: justify;
    text-indent: 30px; /* Ajuste espaço de inicio de parágrafo */
    word-spacing: normal; /* Ajuste espaçamento de palavras */
    hyphens: auto; /* Permite quebra de palavras */
}

.botao {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 25px;
    
}

.apresentacao__links__subtitulo {
    font-size: 18px;
    font-family: var(--font-titulo);
    font-weight: 200;
}

.botao__link {
    /*background-color: #111111;*/
    border: 2px solid var(--cor-principal);
    width: 280px;
    text-align: center;
    border-radius: 16px;
    font-size: 24px;
    font-family: "Montserrat", sans-serif;
    padding: 15px;
    text-decoration: none;
    color: #F6F6F6;
    font-weight: 400;
 /* Adicionando Flexbox para alinhamento */
    display: flex;             /* Torna o botão um contêiner flexível */
    align-items: center;       /* Alinha itens verticalmente ao centro */
    justify-content: center;   /* Centraliza o conteúdo horizontalmente */
    gap: 16px;                  /* Espaçamento entre logo e texto */
}

.logo {
    width: auto;               /* Mantém proporção do logo */
    height: 24px;              /* Ajuste a altura para combinar com o texto */
    }
.imagem {
    width: 40%;
}

.rodape {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 14px;
    box-shadow: 0 -4px 6px rgba(34, 212, 253, 0.5); /* Sombra no topo */
    background-color: #22D4FD;
    text-align: center;
    color: black;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
}

.botao__link:hover {
    background-color: #272727;
}

.menu__link:hover {
    color: cadetblue;
}